[submodule "src/github.com/rakyll/hey"]
	path = src/github.com/rakyll/hey
	url = git@github.com:iredelmeier/hey.git
	branch = x509
[submodule "src/github.com/vkuznet/x509proxy"]
	path = src/github.com/vkuznet/x509proxy
	url = git@github.com:vkuznet/x509proxy.git
